* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font: bold 20px "Courier";
}

#main {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
	width: 36rem;
	height: 42rem;
	background: #b7d4a8;
	margin: 100px auto;
	border: 10px solid black;
	border-radius: 10px;
}

#scorePanel {
	width: 30rem;
	display: flex;
	justify-content: space-between;
}
#stage {
	position: relative;
	width: 30rem;
	height: 30rem;
	border: 2px solid black;
}

#snake > div {
	position: absolute;
	width: 1rem;
	height: 1rem;
	background-color: #000;
	border: 1px solid #b7d4a8;
}

#food {
  width: 1rem;
  height: 1rem;
	position: absolute;
	left: 40px;
  top: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}

#food > div {
	width: .5rem;
	height: .5rem;
	background-color: #000;
	border: 1px solid #b7d4a8;
  transform: rotate(45deg);
}
